body  {
    background-color: #F2E8DF;
    height: 100vh;
}

h1, h2 {
    color: #F28585;
}



.message {
    width: 100%;
    text-align: center;
}

.message h2{
    font-size: 300%;
    font-weight: bold;
}
