
.banner {
    position: relative;
    margin-bottom: 5rem;
}
.content img {
    height: 80vh;
    width: 100%;
    /*position: absolute;*/
    top: 0;
    z-index: -1;
    object-fit: cover;
}

.content .text {
    position: absolute;
    right: 10%;
    top: 45%;
    border: 3px solid #86A69D;
    padding: 1rem;
    backdrop-filter: blur(5px);
}

.content .text h1{
    color: #F2B263;
}

.content .text p {
    color: #F28585;
}

.presentation {
    display: flex;
    width: 60%;
    margin: 0 auto;
    padding: 1rem 0;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 15px;
}

.presentation .left {
    width: 50%;
    text-align: justify;
}


.presentation .right img  {
    border-radius: 15px;
    width: 100%;
}

.presentation .left h1 {
    text-align: center;
    color: #F28585;
    position: relative;
    margin-bottom: 4rem;
}

.presentation .left h1::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 3px;
    background-color: #F2B263;
    left: 0;
    bottom: -40%;
    translate: 50% 100%;
    transform: rotate(-3deg);
}

.voyages {
    display: flex;
    width: 100%;
    object-fit: cover;
    margin-bottom: 2rem;
}

.voyages .image {
    width: 100%;
    overflow: hidden;
}

.voyages .image img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.voyages .text {
    text-align: center;
    position: relative;
}

.voyages .text p::before {
    content: "";
    position: absolute;
    width: 20%;
    height: 3px;
    background-color: #F28585;
    left: 30%;
    bottom: -80%;
    translate: 50% 100%;
    transform: rotate(-3deg);
}
